# Puerto del servidor WebSocket
WS_PORT=3005

# URL de conexión a RabbitMQ
RABBITMQ_URL=amqp://logiflow:logiflow2026@localhost:5672

# Cola que este servicio consume
RABBITMQ_QUEUE=q.seguimiento.posicion

# Exchange
RABBITMQ_EXCHANGE=logistica.topic
