# Puerto del GraphQL Gateway
PORT=4000

# URLs de los microservicios REST
MS_AUTH_URL=http://localhost:8081
MS_CLIENTES_URL=http://localhost:8082
MS_PEDIDOS_URL=http://localhost:8083
MS_FLOTA_URL=http://localhost:8080
MS_RUTEO_URL=http://localhost:8085

# URL WebSocket de ms-seguimiento
MS_SEGUIMIENTO_WS_URL=http://localhost:3005

# Entorno
NODE_ENV=development
