# ms-auth — variables de entorno
PORT=8081
DB_URL=jdbc:mysql://localhost:3310/ms_auth_db?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=root
JWT_SECRET=logiflow-secret-key-fase2-must-be-at-least-32-chars
JWT_EXPIRATION=86400000
